{% extends 'base.html' %}
{% block content %}
<h1>{% block title %} История номеров {% endblock %}</h1>

<div class="container mt-5 mb-3">
    <div class="row">
        {% for event in events %}
        <div class="col-md-4">
            <div class="card p-3 mb-2 border-primary">
                <div class="card-header">
                    <a href="{{ url_for('event', event_id=event['id_event']) }}">>
                        <b> Уборка # {{ event['number'] }} от {{ event['date'] }}</b>
                    </a>
                    <br>
                    {% if event['deal_status']==True %}
                    <span class="badge bg-success"> Проведена </span>
                    {% else %}
                    <span class="badge bg-danger"> Назначена </span>
                    {% endif %}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ event['address'] }} <span class="badge bg-primary">{{
                            event['price'] }} ₽</span></h5>
                    <span class="badge bg-danger">{{ event['date'] }}- Дата проведения</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}